.File-holder{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  padding: 20px 0 20px 0;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.File-category-item{
  flex-basis: 100%;
  padding: 0 0 10px 15px;
  font-size: 17px;
  text-align: left;
}
.File-category-name{
  color: #bbbbbb;
}
.FileManager-file-holder{
  display: flex;
  flex-wrap: wrap;
}
.File-url{
  color: #e2e2e2;
  text-decoration: none;
}