.Form-holder {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 100%;
  padding: 10px 0 10px 0;
}
.Form-label {
  flex-basis: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
.Form-input {
  flex-basis: 100%;
  padding: 15px 12px 15px 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-size: 16px;
  font-style: italic;
  width: 100%;
}
.Form-input.-incorrect{
  border: 2px solid #c30000;
}