/* Custom */
.Login-button {
  flex-basis: 100%;
  margin: 25px 0 20px 0;
  display: inline-block;
  position: relative;
  padding: 18px 30px;
  top: 0;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 4px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.84);
  background: rgb(67, 67, 67);
  color: #fff;
  box-shadow: 0 0 0 rgb(63, 63, 63);
  transform: translateZ(0);
  transition: all 0.2s ease;
}

.Login-button:hover {
  top: -10px;
  box-shadow: 0 10px 10px rgb(45, 45, 45);
  transform: rotateX(20deg);
}

.Login-button:active {
  top: 0;
  box-shadow: 0 0 0 rgba(15, 165, 60, 0);
  background: rgb(205, 205, 205);
}